@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<string>
<a class="btn btn-block
       @(ViewBag.SelectedTeam == null
           ? "btn-primary": "btn-outline-secondary")" asp-action="Index"
   asp-controller="Home" asp-route-bowlerTeam="">
    All
</a>
@foreach (string team in Model)
{
    <a class="btn btn-block
       @(team == ViewBag.SelectedTeam
           ? "btn-primary": "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-bowlerTeam="@team">
        @team
    </a>
}